{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="row">
        {% for object in object_list %}
            <div class="col-4" style="display: grid; grid-template-columns: repeat(4, 1fr); @media (max-width: 800px) { grid-template-columns: 1fr;}">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <a href="{{ object.get_absolute_url }}">
                            <h5 class="card-title">{{ object.title }}</h5>
                        </a>
                            <p class="card-text"> {{ object.content|truncatechars:40 }} </p>
                            <hr/>
                            <p class="cardd-text">
                                Posted {{ object.publish_date|timesince }} ago
                            </p>
                        </div>
                    </div>  
                </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}